<div class="w-full">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item">
          <a href="" target="_blank">
            <%=image_tag "b1.jpg",class: "img-responsive" %>
          </a>

        </div>
        <div class="item">
          <a href="" target="_blank">
            <%=image_tag "b2.jpg",class: "img-responsive" %>
          </a>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <%=image_tag "b3.jpg",class: "img-responsive" %>
          </a>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <%=image_tag "b4.jpg",class: "img-responsive" %>
          </a>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<script>
    $().ready(function(e) {

        $(".carousel-inner .item:first-child").addClass("active");

        $('#myCarousel').carousel({
            interval: 4000
        });
    });

</script>

<div class="container" style="margin-top: 20px;">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="border-right: 1px solid #ececec;">
    <ul class="list-group" style="list-style: none;">
    <% @articles.each do |article| %>
      <li style="padding: 1em; height: auto; overflow: auto;">
        <table width="100%" height="auto" align="left">
          <tr>
            <td width="20%" height="120" align="left" valign="middle"class="hidden-xs hidden-sm">
              <img src="http://placehold.it/120x120" />
            </td>
            <td width="80%" height="120" align="left" valign="top">
                <h4 class="pull-left"><%= link_to article.title, article%></h4>
                <label class="label label-info pull-right">
                  <%= link_to article.info, "/articles/info/#{article.info}", class: 'blocka'%>
                </label>
                <div class="clearfix"></div>
                <p>
                  <%= article.text.first(150) %>...
                </p>
                <div class="pull-right">
                  <p><%=  article.author.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%=  article.created_at %></p>
                </div>
            </td>
          </tr>
        </table>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <ul class="list-group" style="list-style: none" id="new_man">
      <li><h4><i class="glyphicon glyphicon-fire">&nbsp;</i>欢迎新来的姑娘和汉子们</h4></li>
      <br>
      <% @users.each do |user|%>
      <li style="height: auto; overflow: auto; margin-bottom: 10px;">
        <img src="http://placehold.it/60x60" class="img-responsive img-circle pull-left" style="margin-top: 5px;"/>
        <%=link_to user.name,user,class:'pull-left',style:'display:block; line-height:60px; margin-left:1em;' %>
        <p class="pull-right" style="line-height: 60px;"><%= user.created_at.to_s.first(10)%></p>
      </li>
      <% end %>
      <br/>
      <li><h4><i class="glyphicon glyphicon-leaf">&nbsp;</i>瞻仰一下咱的大腕儿们</h4></li>
      <br>
      <% @users.each do |user|%>
          <li style="height: auto; overflow: auto; margin-bottom: 10px;">
            <img src="http://placehold.it/60x60" class="img-responsive img-circle pull-left" style="margin-top: 5px;"/>
            <%=link_to user.name,user,class:'pull-left',style:'display:block; line-height:60px; margin-left:1em;' %>
            <p class="pull-right" style="line-height: 60px;"><%= user.created_at.to_s.first(10)%></p>
          </li>
      <% end %>
    </ul>
  </div>
</div>