<% provide(:title, @author.name) %>
<div class="container">
  <div class="login">
    <h4>更改设置</h4>
    <br>
    <%= form_for(@author) do |f| %>
        <%= f.password_field :password, class: 'form-control', placeholder:'更改密码（非必填）' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder:'再次输入密码以确认' %>
        <%= f.text_field :info, class:'form-control', placeholder:'感兴趣的关键词'%>
        <%= f.submit "保存更改", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

