<% provide(:title, 'Sign up') %>
<div class="login">
    <h3>欢迎加入果壳TODAY的世界</h3>
    <%= form_for(@author) do |f| %>
  <table width="80%" align="center">
    <tr>
      <td align="left" valign="middle" width="15%" height="50">
        <%= f.label :用户名 %>
      </td>
      <td width="85%" height="50" align="left" valign="middle">
        <%= f.text_field :name,class:'form-control',style:'margin-top:10px;' %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="middle" width="15%" height="50">
        <%= f.label :电子邮箱 %>
      </td>
      <td width="85%" height="50" align="left" valign="middle">
        <%= f.text_field :email,class:'form-control',style:'margin-top:10px;' %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="middle" width="15%" height="50">
        <%= f.label :密码 %>
      </td>
      <td width="85%" height="50" align="left" valign="middle">
        <%= f.password_field :password,class:'form-control',style:'margin-top:10px;' %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="middle" width="15%" height="50">
        <%= f.label :password_confirmation,"确认密码" %>
      </td>
      <td width="85%" height="50" align="left" valign="middle">
        <%= f.password_field :password_confirmation,class:'form-control',style:'margin-top:10px;' %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="middle" width="15%" height="50">
        <%= f.label "订阅信息" %>
      </td>
      <td width="85%" height="50" align="left" valign="middle">
        <%= f.text_field :info ,class:'form-control',style:'margin-top:10px;'%>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" valign="middlde" height="50">
        <%= f.submit "创建我的账号", class: "btn btn-success" %>
      </td>
    </tr>

  </table>

    
<% end %>
</div>

